@model gatherly.server.Entities.Mailling.Views.Register

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.</title>
</head>
<body>
<div>
    <p>Witaj w Gatherly!</p>
    <div>Aby się zalogować wpisz poniższy kod na stronie.</div>
    <b></b>
</div>
</body>
</html>