.navbar {
    height: 90vh;
    width: 14vw;
    padding: var(--mantine-spacing-lg);
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    backdrop-filter: blur(25px);
}

.navbarMain {
    flex: 1 1 auto;
}

.header {
    margin-bottom: calc(var(--mantine-spacing-lg) * 1.5);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    align-items: center;
    align-content: center;
    align-self: center;
}

.footer {
    padding-top: var(--mantine-spacing-lg);
    margin-top: var(--mantine-spacing-lg);
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.linkIcon {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
    margin-right: var(--mantine-spacing-sm);
    display: inline-block;
    width: 25px;
    height: 25px;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-lg);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

        .linkIcon {
            color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        }
    }

    &[data-active] {
        font-weight: bold;

        .linkIcon {
            color: var(--mantine-primary-color-7);
        }
    }
}
