.logo {
    color: var(--mantine-color-dark-6);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    background-color: transparent;
    padding-top: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

.header.lightText {
    color: white; /* Upewnij się, że kolor jest poprawny */
}

.header.darkText {
    color: black; /* Ciemny tekst, gdy przekroczono próg scrolla */
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Ulepszony efekt hover */
}

.activeLink {
    font-weight: bold;
}

.darkText .link {
    color: black; /* Kiedy tekst nagłówka jest ciemny, zmień też kolor linków */
}

.lightText .link {
    color: white; /* Kiedy tekst nagłówka jest jasny, linki również jasne */
}
