.main {
    padding: var(--mantine-spacing-lg);
    margin-left: 4rem;
}

.buttonHead{
    margin-right: 4rem;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    left: 0;
}

.icon {
    background-color: var(--mantine-primary-color-7);
    border-radius: var(--mantine-spacing-xl);
    padding: 8px;
    margin-right: 10px;
}

.name {
    padding-left: 0rem;
}

.componentRect {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: calc(100%);
}

.componentSm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 38vw;
    position: relative;
    padding: 20px;
    height: calc(100%);
}

.componentSm h1 {
    font-size: 15vh;
}

.componentMd {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
}

.componentLg {
    display: flex;
    flex-direction: column;
    height: 28vh;
    width: 50vw;
    position: relative;
    padding: 20px;
}

.componentXl {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 28vh;
    position: relative;
    padding: 20px;
}
@keyframes moveGradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes moveBlur {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(50px, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.component {
    background: linear-gradient(45deg, #c1b0f3, #c1b0f3, #f4f3f3, #7d62d1);
    animation: moveGradient 5s ease infinite;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.blur-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.91), rgba(255, 255, 255, 0));
    filter: blur(100px);
    animation: moveBlur 10s ease infinite;
}

.blur-circle:nth-child(2) {
    left: 50%;
    top: 50%;
    animation-duration: 20s;
}

.blur-circle:nth-child(3) {
    left: 25%;
    top: 25%;
    animation-duration: 25s;
}

.blur-circle:nth-child(4) {
    left: 75%;
    top: 75%;
    animation-duration: 30s;
}

h1.responsiveTitle {
    font-size: 9rem;
}

@media (max-width: 1200px) {
    h1.responsiveTitle {
        font-size: 6rem;
    }
}

@media (max-width: 992px) {
    h1.responsiveTitle {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    h1.responsiveTitle {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    h1.responsiveTitle {
        font-size: 2rem;
    }
}
